h1 {
    color: blue;
    text-align: center;
    font-size: 6;
}
p {
    color: blue;
    font-size: 14;
}
h1:hover {
    color: yellow;
}
button {
    background-color: rgb(36, 216, 96);
}
